.Weather {
  font-family: Arial, sans-serif;
  border: 3x solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  box-shadow: rgba(13, 110, 253, 0.5) 0px 5px 15px;

  margin-top: 10px;
}
.Weather h1 {
  color: rgb(156, 156, 189);
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 20px;
}

.Weather form {
  margin-bottom: 20px;
}
.Weather ul {
  color: rgb(118, 118, 122);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Weather .temperature {
  font-size: 64px;
  padding-top: 5px;
}

.Weather img {
  padding-bottom: 40px;
}
